body{
    background-color: lightblue;
}
.parrafo1{
    padding: 20px;
    background-color: white;
}
.parrafo4{
    padding: 20px;
    background-color: white;
}
.parrafo5{
    padding: 20px;
    background-color: white;
}
.parrafo3{
    padding: 20px;
    background-color: white;
}
p{
    padding: 5px;
    background-color: blueviolet;
}
.desafios{
    text-align: center;
    width: 70%;
    padding: 20px;
}
.desafio1{
    display: flex;
    width: 90%;
}
.card-text{
    display: flex;
    background-color: white;
    width: 90%;
}
